.MainBody {
	height: fit-content;
	/* margin-top: 5%; */
	/* padding: 0 10%; */
	overflow-y: scroll;
	/* background: red; */
	/* margin-bottom: 2%; */
}

.AuthBody {
	display: flex;
	width: 699px;
	/* background: blue; */
	height: fit-content;
	justify-content: center;
	align-items: center;
	gap: 30px;
	flex-shrink: 0;
}
@media (max-width: 860px) {
	.AuthBody {
		width: 600px;
	}
}
@media (max-width: 640px) {
	.AuthBody {
		flex-direction: column;
		width: 500px;
	}
}
@media (max-width: 300px) {
	.AuthBody {
		width: 300px;
	}
}

.AuthTitleContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -20px;
	padding-bottom: 40px;
	width: 100%;
}
@media (max-width: 640px) {
	.AuthTitleContainer {
		margin-top: 0px;
		margin-left: 100px;
	}
	.AuthTitleContainer svg {
		display: none;
	}
}
@media (max-width: 350px) {
	/* .AuthTitleContainer {
		margin-left: 10px;
	} */
	.AuthTitleContainer svg {
		display: none;
	}
}

.AuthPageTitle {
	color: var(--gray-07, #3b3c4b);
	font-family: Poppins;
	text-align: left;
	font-size: 18px;
	font-style: normal;
	font-weight: var(--font-weight-600);
	line-height: 24px; /* 133.333% */
	padding: 20px;
}
@media (max-width: 820px) {
	.AuthPageTitle {
		font-size: var(--font-size-16);
	}
}
@media (max-width: 640px) {
	.AuthPageTitle {
		font-size: var(--font-size-16);
		padding: 20px 0px;
	}
}

.AuthCard {
	/* // border: 1px solid black; */
	/* // border-radius: 8px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 5%;
	margin-left: 5px;
	padding: 5px;
	min-width: 200px;
}
.AuthCard h2 {
	font-size: 1rem;
	font-weight: 500;
}
.AuthCard a {
	padding: 5%;
	font-size: 1rem;
	font-weight: 500;
	color: var(--turquopise-4);
	text-decoration: underline;
}

.AuthStyledButtonOne {
	height: 50px;
	width: 100%;
	max-width: 165px;
	border-radius: 10px;
	justify-content: center !important;
	gap: 10px;
	font-weight: var(--font-weight-400);
	font-size: 1.1rem;
	background: var(--turquoise-4);
}

.AuthStyledButtonTwo {
	height: 50px;
	width: 100%;
	max-width: 165px;
	border-radius: 10px;
	justify-content: center !important;
	gap: 10px;
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--turquoise-5);
	background: var(--turquopise-2);
}

.AuthChoice1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 262px;
	/* height: 194px; */
	flex-shrink: 0;
	border-radius: 16px;
	padding: 10px;
	background: #1876f225;
	transition: box-shadow 0.3s ease-in-out;
	margin: 10px 0px;
	cursor: pointer;
}

.AuthChoice1:hover {
	box-shadow: 0 4px 8px rgba(108, 99, 255, 0.5);
}

.AuthChoice2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 262px;
	/* height: 194px; */
	padding: 10px;
	flex-shrink: 0;
	border-radius: 16px;
	background: #1876f225;
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
}

.AuthChoice2:hover {
	box-shadow: 0 4px 8px rgba(108, 99, 255, 0.5);
}

.AuthChoiceImage {
	position: relative;
	height: 80px;
	width: 125px;
}

.AuthChoiceText {
	width: 198px;
	height: 56px;
	flex-shrink: 0;
	color: #1877f2;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 25.452px; /* 181.797% */
	letter-spacing: -0.168px;
	cursor: pointer;
}
@media (max-width: 640px) {
	.AuthChoiceText {
		font-size: 12px;
	}
}

.AuthChoiceText1 {
	width: 198px;
	height: 56px;
	flex-shrink: 0;
	color: #1877f2;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: var(--font-weight-500);
	line-height: 25.452px; /* 181.797% */
	letter-spacing: -0.168px;
	cursor: pointer;
}
@media (max-width: 640px) {
	.AuthChoiceText1 {
		font-size: var(--font-size-12);
	}
}
