.ContentContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 100vw;
	/* max-width: calc(100vw - 230px); */
	padding: 50px 30px;
	/* margin-left: 230px; */
	transition: all 0.3s ease;
}
